* {
  margin: 0;
  padding: 0;
}
.App{
  position: relative;
}
.switchBtn{
  position: absolute !important;
  top: 50px;
  left: 30px;
}
.dark{
  background: #000;
}
.ml-2 {
  margin-left: 10px;
}
.authenticationPage {
  display: flex;
}
.authenticationPage .left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: end;
}
.authenticationPage .left .text-container {
  margin-top: 100px;
  width: 60%;
}
.authenticationPage .left .text-container h1 {
  font-size: 34px;
  font-weight: 700;
  color: #11175d;
}
.mt-2 {
  margin-top: 8px;
  width: 90%;
}
.authenticationPage .left .text-container p {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-top: 13px;
}

.authenticationPage .right {
  width: 50%;
  height: 100vh;
}

.authenticationPage .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputCss {
  margin-top: 56px !important;
  width: 90%;
}

.SignUpBtn {
  width: 90%;
  margin-top: 70px !important;
  padding: 20px 0 !important;
  border-radius: 86px !important;
}

.semiText {
  color: #03014c;
  font-size: 13px;
  font-weight: 400;
  margin-top: 35px !important;
  text-align: center;
}
.orange {
  color: #ea6c00;
}

.eye {
  position: relative;
  top: 75px;
  right: 31px;
}

.Toastify {
  background-color: #5f35f5 !important; /* Change this to your desired background color */
}

/* Change the background color of the individual notifications */
.Toastify__toast {
  background-color: var(
    --dynamic-bg-color
  ) !important; /* Change this to your desired background color */
}
.navbar {
  width: 85%;
  height: 98vh;
  margin: auto;
  background-color: #5f35f5;
  border-radius: 20px;
  margin-top: 10px;
}
.list li {
  margin-bottom: 60px;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.icon {
  color: #bad1ff;
}

.list .icon.active {
  color: #5f35f5;
}
.list .icon.active::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: -10px;
  left: -35px;
  width: 283%;
  height: 100%;
  background: #fff;
  padding-top: 20px;
  padding-left: 45px;
  border-radius: 20px 0 0 20px;
}
.list .icon.active::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -10px;
  right: -65px;
  width: 6px;
  height: 155%;
  background: #5f35f5;
  border-radius: 20px 0 0 20px;
}
.list li {
  list-style-type: none;
}
.list li:last-child {
  margin-top: 120px;
  margin-bottom: 0;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbarImg {
  width: 100px;
  height: 100px;
  margin-top: 38px;
  margin-bottom: 70px;
}

.navbarImg img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.dark .box{
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.943);
}

.box {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  height: 49vh;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.scroll-container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.logout {
  color: #fff;
}
.dark .group-heading{
  background-color: #000;
  color: #ffff;
}
.group-heading {
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -20px;
  left: 0;
  background-color: #fff;
  padding: 10px;
}

.group-card-body .profile {
  width: 70px;
  height: 70px;
}
.group-card-body .profile img {
  width: 100%;
  height: 100%;
}
.dark .group-card-body{
  border-bottom: 1px solid rgb(254, 255, 251);
}
.group-card-body {
  margin-top: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 14px;
  margin-bottom: 14px;
  display: flex;
}
.group-card-body:last-child {
  border: none;
}
.dark .groupsName{
  color: #fff;
}
.groupsName {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.dark .messageTitle{
  color: #fff;
}
.messageTitle {
  font-size: 14px;
  color: rgba(77, 77, 77, 0.75);
  font-weight: 400;
}

.title {
  margin-left: 14px;
  margin-right: 51px;
}
.joinBtn {
  background: #5f35f5 !important;
  width: 87px !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  height: 30px !important;
}
.addBtn {
  background: #5f35f5 !important;
  width: 87px !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  height: 30px !important;
  margin-left: 20px !important ;
}

.addIcon {
  color: hwb(0 100% 0%) !important;
}

.author {
  font-size: 18px;
  color: #fff;
  font-weight: 7000;
  margin-top: 5px;
  text-align: center;
}
.dark .chatBoxContainer{
  background: #000000;
  box-shadow: 0px 4px 4px 0px rgba(255, 252, 252, 0.906);
}
.chatBoxContainer{
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.chatBox {
  height: 100%;
  position: relative;
}
.profileSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
}

.profileContent {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.profilePicture {
  border: 3px solid #007bff;
  border-radius: 100%;
}
.profileContent::before {
  content: "";
  width: 25px;
  position: absolute;
  bottom: 20px;
  left: 90px;
  height: 25px;
  border-radius: 100%;
  border: 4px solid #fff;
  background-color: #00ff75;
}

.middleContent {
  height: 50vh;
  margin-bottom: 15px;
  overflow-y:scroll ;
}
.msg{
  display: flex;
  flex-direction: column;
  position: relative;
}
.getMsg {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 10px;
  color: #000000;
  max-width: 60%;
  word-wrap: break-word;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-start;
}

.getMsgContent {
  padding: 10px;
}

.getMsgArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 20px 20px;
  border-color: transparent transparent transparent #f1f1f1;
  position: absolute;
  bottom: -15px;
  left: 5px; /* Adjust the left position to position the arrow */
}

.sendMsg {
  display: inline-block;
  background-color: #007bff;
  padding: 10px;
  color: #fff;
  max-width: 60%;
  word-wrap: break-word;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-end;
}

.sendMsContent {
  padding: 10px;
}

.sendMsArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0; /* Adjust the right border-width to create a right arrow */
  border-color: transparent #007bff transparent transparent; /* Adjust the border-color accordingly */
  position: absolute;
  bottom: -15px;
  right: 10px;
}

 .time{
 color: rgba(0, 0, 0,0.50);
  position: absolute;
  bottom: 0;
  
}
.sendMsg + .time{
  color: rgba(0, 0, 0,0.50);
  position: absolute;
  bottom: 0;
  right: 50px;
  align-self: flex-end;

}
.sendImg + .time{
  color: rgba(0, 0, 0,0.50);
  position: absolute;
  bottom: 0;
  right: 50px;
  align-self: flex-end;

}


.getImg {
  display: inline-block;
  width: 300px;
  height: 250px;
  background-color: #f1f1f1;
  padding: 10px;
  color: #000000;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-start;
 
}
.getImg > div{
  width: 100%;
  height: 100%;
}
.getImg > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.getImg .getImgArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 20px 20px;
  border-color: transparent transparent transparent #f1f1f1;
  position: absolute;
  bottom: -15px;
  left: 5px; /
}

.sendImg {
  display: inline-block;
  width: 300px;
  height: 250px;
  background-color: #007bff;
  padding: 10px;
  color: #fff;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-end;
  z-index: 0;
}

.sendImg > div{
  width: 100%;
  height: 100%;
}

.sendImg > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

.sendImgContent {
  padding: 10px;
}

.sendImg .sendImgArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 20px 0; /* Adjust the right border-width to create a right arrow */
  border-color: transparent #007bff transparent transparent; /* Adjust the border-color accordingly */
  position: absolute;
  bottom: -15px;
  right: 10px;
}


.getVideo {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 10px;
  color: #000000;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-start;
}



.getVideoArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 20px 20px;
  border-color: transparent transparent transparent #f1f1f1;
  position: absolute;
  bottom: -15px;
  left: 5px; /* Adjust the left position to position the arrow */
}

.sendVideo {
  display: inline-block;
  background-color: #007bff;
  padding: 10px;
  color: #fff;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-end;
}



.sendVideoArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 20px 0; /* Adjust the right border-width to create a right arrow */
  border-color: transparent #007bff transparent transparent; /* Adjust the border-color accordingly */
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.sendVideo + .time{
  color: rgba(0, 0, 0,0.50);
  position: absolute;
  bottom: 0;
  right: 50px;
  align-self: flex-end;

}


.getVoice {
  display: inline-block;
  padding: 10px;
  color: #000000;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-start;
}

.sendVoice{
  display: inline-block;
  padding: 10px;
  color: #fff;
  max-width: 60%;
  border-radius: 10px;
  margin-left: 20px; /* Adjust the margin to separate messages */
  margin-bottom: 30px;
  position: relative;
  align-self: flex-end;
}

.sendVoice + .time{
  color: rgba(0, 0, 0,0.50);
  position: absolute;
  bottom: 0;
  right: 50px;
  align-self: flex-end;

}

.messageInputBox{
  padding-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
}
.inputBox{
  width: 85%;
 
}

.inputBox input{
  width: 100%;
  padding: 25px 10px;
  background: #F1F1F1;
  border-radius: 10px;
  border:none
 
}
.emoji {
  position: absolute;
  bottom: 100px;
  left: 50px;
}
.audio-recorder{
  position: absolute;
}
.audioContainer {
  position: absolute;
  top: 36px;
  left: 0;
  width: 90% ;
  z-index: 50;
}
 
.audio-recorder{
  position: absolute;
  top: 36px;
  right:10%;
  z-index: 50;
}
.reactEasyCrop_Container {
top: 100px !important;
left: 30px !important;
right: 30px !important;
bottom: 39px !important;
}

.groupContainer {
  display: flex;
  width: 100%;
  gap: 2%;
}

.allMessageList {
  
  width: 30%;
}

.messageContainer {
  flex: 68%;
}